
/*-----NAVIGATION------*/
#mainNav{
	margin:25px 0px;

}

#mainNav a{
	padding:30px; 
}

#mainInfo{
	padding:5% 8%;
	font-size: 0.8em;
}

/*-----FOOTER-----*/
#footer img{
    margin:10px 0px;
    padding:10px 0px;
    max-width: 100%;
}


